    <div class="jumbotron">
      <div class="container">
        <h1><%=h t("about.title", title: param[:site_title]) %></h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./"><i class="bi bi-house-door-fill"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"><%=h t("about.title", title: param[:site_title]) %></li>
            </ol>
          </nav>
        </div>
      </div>
      <%- if param[:shapes] -%>
      <div class="row">
        <div class="col-md">
          <%- param[:shapes].keys.sort.each do |shape| -%>
            <h3><%=h param[:shapes][shape][:label] %></h3>
            <p><%= param[:shapes][shape][:comment] %></p>
            <p><%=h t("about.shape-note", resource: param[:shapes][shape][:label]) %></p>
            <%= param[:shapes][shape][:html] -%>
          <%- end -%>
        </div>
      </div>
      <%- end -%>
      <%- if param[:versions] -%>
      <div class="row">
        <div class="col-md">
          <h3 id="versions"><%=h t("about.versions") %></h3>
          <dl>
          <%- param[:versions].each do |version| -%>
            <dt><%=h version[:date] %></dt>
            <dd><%=h t("about.version-release", version: version[:version]) %></dd>
            <dd><%=h get_language_literal(version[:description]) %></dd>
            <%- if version[:datadump] -%>
            <dd><ul>
              <li><a href="<%=h version[:datadump] %>"><%=h version[:datadump] %></a>
              <%- 
              fileinfo = []
              if version[:triples]
                fileinfo << t("about.version-triples", triples: version[:triples])
              end
              if version[:bytesize]
                fileinfo << Filesize.from(version[:bytesize]).pretty
              end
              -%>
              <%- if fileinfo.size > 0 -%>
              (<%=h fileinfo.join(", ") %>)
              <%- end -%>
              </li>
              <%- if version[:subset].size > 0 -%>
              <ul>
                <%- version[:subset].each do |subset| -%>
                <li><a href="<%=h subset %>"><%=h subset %></a></li>
                <%- end -%>
              </ul>
              <%- end %>
              </dd>
            <%- end -%>
          <%- end -%>
          </dl>
        </div>
      </div>
      <%- end -%>
    </div>
    
