    <div class="jumbotron">
      <div class="container">
        <h1><%=h t("about.title", title: param[:site_title]) %></h1>
        <%- if param[:toplevel] and param[:toplevel][:description] -%>
        <p><%= get_language_literal(param[:toplevel][:description]) %></p>
        <%- end -%>
        <%- if param[:description] -%>
        <div class="description"><%= param[:description] %></div>
        <%- end -%>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./"><i class="bi bi-house-door-fill"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"><%=h t("about.title", title: param[:site_title]) %></li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <%- if @template == "about.html.erb" and param[:about_toc] -%>
        <div class="col-md-2 order-12">
          <h2 data-toc-skip><%=h t('about.toc') %></h2>
          <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
        </div>
        <div class="col-md-10">
        <%- else -%>
        <div class="col-md">
        <%- end -%>
        <%- if param[:content] -%>
        <%= param[:content] %>
        <%- end -%>
        <%- if param[:shapes].size > 0 -%>
          <h2 id="shapes"><%=h t("about.shape-heading") %></h2>
          <%- param[:shapes].keys.sort_by{|k| param[:shapes][k][:order] }.each do |shape| -%>
            <h3 id="<%=h relative_path_uri(shape) %>"><%=h param[:shapes][shape][:label] %></h3>
            <%- if param[:shapes][shape][:target_class] -%>
            <ul><li><%= t("about.shape-target") %>: <a href="<%=h param[:shapes][shape][:target_class] %>"><%=h param[:shapes][shape][:target_class] %></a></li></ul>
            <%- end -%>
            <p><%= param[:shapes][shape][:comment] %></p>
            <p><%=h t("about.shape-note", resource: param[:shapes][shape][:label]) %></p>
            <%= param[:shapes][shape][:html] -%>
          <%- end -%>
        <%- end -%>
        <%- if param[:versions].size > 0 -%>
          <h2 id="versions"><%=h t("about.versions") %> <i class="bi bi-info-circle"></i></h2>
          <dl>
          <%- param[:versions].reverse_each do |version| -%>
            <%= format_version_info(version) %>
          <%- end -%>
          </dl>
        <%- end -%>
        <%- if param[:toplevel][:endpoint] -%>
          <h2 id="sparql-endpoint"><%=h t("index.sparql-endpoint") %> <i class="bi bi-database-add"></i></h2>
          <p>
          <%= t("index.sparql-endpoint-text") %>: <a href="<%=h param[:toplevel][:endpoint] %>"><%=h param[:toplevel][:endpoint] %></a>
          </p>
        <%- end -%>
        <%- if param[:toplevel] and param[:toplevel][:contact] -%>
          <h2 id="contact"><%=h t("about.contact") %></h2>
          <%- if param[:toplevel][:contact][:name] -%>
          <p><%=h t("about.contact-contribution", name: get_language_literal(param[:toplevel][:contact][:name])) %></p>
          <%- end -%>
          <%- if param[:toplevel][:contact][:members] -%>
          <ul>
          <%- param[:toplevel][:contact][:members].each do |member| -%>
            <li><%=h get_language_literal(member[:name]) %>
            <%- if member[:org] -%>
            (<%=h get_language_literal(member[:org]) %>)
            <%- end -%>
          <%- end -%>
          </ul>
          <%- end -%>
          <%- if param[:toplevel][:contact][:email] -%>
          <p><%= t("about.contact-email", email: param[:toplevel][:contact][:email]) %></p>
          <%- end -%>
        <%- end -%>
        </div>
      </div>
    </div>
