    <div class="jumbotron">
      <div class="container">
        <h1><%=h param[:site_title] %>について</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="./"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li class="active"><%=h param[:site_title] %>について</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <%- param[:content].keys.sort.each do |shape| -%>
            <h3><%=h param[:content][shape][:label] %>をあらわすリソース</h3>
            <p><%=h param[:content][shape][:label] %>リソースが持つプロパティを下表に示します</p>
            <%= param[:content][shape][:html] -%>
          <%- end -%>
        </div>
      </div>
