    <div class="jumbotron">
      <div class="container">
        <h1><%=h t("about.title", title: param[:site_title]) %></h1>
      </div>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./"><i class="bi bi-house-door-fill"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%=h t("about.title", title: param[:site_title]) %></li>
      </ol>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md">
          <%- param[:content].keys.sort.each do |shape| -%>
            <h3><%=h param[:content][shape][:label] %></h3>
            <p><%= param[:content][shape][:comment] %></p>
            <p><%=h t("about.shape-note", resource: param[:content][shape][:label]) %></p>
            <%= param[:content][shape][:html] -%>
          <%- end -%>
        </div>
      </div>
    </div>
