<%- if param[:datadump] -%>
  <li><a href="<%=h param[:datadump] %>"><%=h File.basename(param[:datadump]) %></a>
  <%- 
  fileinfo = []
  if param[:triples]
    fileinfo << t("about.version-triples", triples: number_with_delimiter(param[:triples].to_i))
  end
  if param[:bytesize]
    fileinfo << number_to_human_size(param[:bytesize])
  end
  -%>
  <%- if fileinfo.size > 0 -%>
  (<%=h fileinfo.join(", ") %>)
  <%- end -%>
  <%- if not param[:license].empty? -%>
  <span class="license">
    <%- if param[:license][:icon] -%>
    <a href="<%=h param[:license][:url] %>"><img src="<%=h param[:license][:icon] %>" alt=""></a>
    <%- end -%>
    <%= t("dataset.license-text", label: get_language_literal(param[:license][:label]), url: param[:license][:url]) %>
  </span>
  <%- end -%>
  <%- if param[:subset].size > 0 -%>
    <ul>
    <%- param[:subset].each do |subset| -%>
    <%= to_html_raw("dataset.html.erb", subset) %>
    <%- end -%>
    </ul>
  <%- end -%>
  </li>
<%- elsif param[:subset].size > 0 -%>
  <%- param[:subset].each do |subset| -%>
    <%= to_html_raw("dataset.html.erb", subset) %>
  <%- end -%>
<%- end -%>
