    <div class="jumbotron">
      <div class="container">
        <h1><%=h param[:title] %></h1>
        <p><small><i class="bi bi-link-45deg"></i> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><%=h t("default.details") %></h2>
          <%= format_triples(param[:data]) %>
        </div>
      </div>
      <% if param[:data_inverse] %>
      <div class="row inverse">
        <div class="col-md-12">
          <h2><%=h t("default.inverse_data") %></h2>
          <%= format_triples(param[:data_inverse]) %>
        </div>
      </div>
      <% end %>
    </div>
