    <div class="jumbotron">
      <div class="container">
        <h1><%=h param[:site_title] %></h1>
        <p><small><i class="bi bi-link-45deg"></i> <a href="<%=h param[:base_uri] %>"><%=h param[:base_uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><%=h t("index.list", resource: param[:class_label]) %></h2>
          <ul>
            <% param[:index_data].each do |e| %>
              <li><%= format_object(e, param[:data_global]) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
