    <div class="jumbotron">
      <div class="container">
        <h1><%=h param[:site_title] %></h1>
        <%- if param[:toplevel] and param[:toplevel][:description] -%>
        <p><%= get_language_literal(param[:toplevel][:description]) %></p>
        <%- end -%>
        <p><i class="bi bi-link-45deg"></i> <a href="<%=h param[:base_uri] %>"><%=h param[:base_uri] %></a></p>
        <p><a class="btn btn-info" href="<%=h relative_path(param[:about_file] || "about.html") %>"><%=h t("about.title", title: param[:site_title]) %> &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <%= param[:index_list] %>
      <%- if param[:versions].size > 0 -%>
      <div class="row">
        <div class="col-md">
          <h2 id="versions"><%=h t("index.latest-dataset") %> <i class="bi bi-info-circle"></i></h2>
          <dl>
            <%= format_version_info(param[:versions].last) %>
          </dl>
          <%- if param[:versions].size > 1 -%>
          <p><a href="about#versions">&raquo; <%=h t("index.past-versions") %></a></p>
          <%- end -%>
          <%- if param[:toplevel] and not param[:toplevel][:license].empty? -%>
          <p>
            <%- if param[:toplevel][:license][:icon] -%>
            <a href="<%=h param[:toplevel][:license][:url] %>"><img src="<%=h param[:toplevel][:license][:icon] %>"></a>
            <%- end -%>
            <%= t("index.license-text", label: get_language_literal(param[:toplevel][:license][:label]), url: param[:toplevel][:license][:url]) %>
          </p>
          <%- end -%>
        </div>
      </div>
      <%- end -%>
    </div>
