<!DOCTYPE html>
<html lang="<%= param[:locale] || I18n.default_locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <%- if @template == "about.html.erb" and param[:about_toc] -%>
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css">
    <%- end -%>
    <%- param[:css_file].each do |file| -%>
    <link rel="stylesheet" href="<%=h relative_path(file) %>">
    <%- end if param[:css_file] -%>
    <%- if param[:custom_css] -%>
    <style type="text/css"><%=h param[:custom_css] %></style>
    <%- end -%>
    <title><%=h html_title(param) %></title>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%=h html_title(param) %>">
    <meta property="og:title" content="<%=h html_title(param) %>">
    <%- if param[:ogp] and param[:ogp]["type"] -%>
    <meta property="og:type" content="<%=h param[:ogp]["type"] %>">
    <%- else -%>
    <meta property="og:type" content="website">
    <%- end -%>
    <%- if param[:uri] -%>
    <meta property="og:url" content="<%=h param[:uri] %>">
    <%- end -%>
    <%- if param[:ogp] and param[:ogp]["image"] -%>
    <meta property="og:image" content="<%=h URI.parse(param[:base_uri]) + param[:ogp]["image"] %>">
    <%- elsif param[:logo] -%>
    <meta property="og:image" content="<%=h URI.parse(param[:base_uri]) + param[:logo] %>">
    <%- end -%>
    <%- if param[:ogp] -%>
    <%- param[:ogp].each do |key, value| -%>
      <%- next if key == "image" or key == "type" -%>
      <meta property="og:<%=h key %>" content="<%=h value %>">
    <%- end -%>
    <%- end -%>
    <meta name="generator" content="ttl2html <%=h TTL2HTML::VERSION %>">
    <%- if param[:google_analytics] -%>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=h param[:google_analytics] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%=u param[:google_analytics] %>');
    </script>
    <%- end -%>
  </head>
  <body<%= ' data-spy="scroll" data-target="#toc"' if @template == "about.html.erb" and param[:about_toc] %>>
    <nav class="navbar navbar-expand-lg <%=h param[:navbar_class] || "navbar-light" %>">
      <%- if param[:logo] -%>
      <a class="navbar-brand" href="<%=h relative_path_uri(param[:base_uri]) %>">
        <img src="<%=h relative_path(param[:logo]) %>" style="max-height: 54px" alt="<%=h param[:site_title] %>">
      </a>
      <%- end -%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item<%= ' active' if @template == "index.html.erb" %>">
            <a class="nav-link" href="<%=h relative_path_uri(param[:base_uri]) %>">Home</a>
          </li>
          <li class="nav-item<%= ' active' if @template == "about.html.erb" %>">
            <a class="nav-link" href="<%=h relative_path(param[:about_file] || "about.html") %>">About</a>
          </li>
          <%- if param[:additional_link] -%>
            <%- param[:additional_link].each do |link| -%>
            <li class="nav-item"><a class="nav-link" href="<%=h link["href"] %>"><%=h link["label"] %></a></li>
            <%- end -%>
          <%- end -%>
        </ul>
        <%- if param[:google_custom_search_id] -%>
        <script async src="https://cse.google.com/cse.js?cx=<%=h param[:google_custom_search_id] %>"></script>
        <div class="gcse-search"></div>
        <%- end -%>
      </div>
    </nav>
    <%= param[:content] %>
    <hr>
    <footer>
      <%- if param[:turtle_uri] -%>
        <p class="float-right"><a href="<%=h param[:turtle_uri] %>"><img src="https://www.w3.org/RDF/icons/rdf_flyer.24" alt="<%=h t("layout.rdf-data") %>"></a></p>
      <%- end -%>
      <%- if param[:admin_name] -%>
      <p>
        <%- if param[:copyright_year] -%>
        &copy; <%=h param[:copyright_year] %>
        <%- end -%>
        <%=h param[:admin_name] %>
      </p>
      <%- end -%>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <%- if @template == "about.html.erb" and param[:about_toc] -%>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
    <%- end -%>
    <%- param[:javascript_file].each do |file| -%>
    <script src="<%=h relative_path(file) %>"></script>
    <%- end if param[:javascript_file] -%>
  </body>
</html>
