<table class="table table-sm">
  <thead>
  <tr>
    <th><%=h t('shape-table.header.property-name') %></th>
    <th><%=h t('shape-table.header.description') %></th>
    <th><%=h t('shape-table.header.example') %></th>
    <th><%=h t('shape-table.header.required') %><br>
        <%=h t('shape-table.header.repeatable') %></th>
    <th><%=h t('shape-table.header.note') %></th>
  </tr>
  </thead>
  <tbody>
  <%- param[:properties].each do |property| -%>
    <tr>
      <%- if property[:nodeKind] == "http://www.w3.org/ns/shacl#BlankNode" -%>
      <td rowspan="2" class="url"><code><%=h property[:shorten_path] %></code></td>
      <%- else -%>
      <td class="url"><code><%=h property[:shorten_path] %></code></td>
      <%- end -%>
      <td><%= property[:name] %></td>
      <%- if property[:nodeKind] == "http://www.w3.org/ns/shacl#IRI" or property[:class] -%>
      <td class="url"><%= property[:example] %></td>
      <%- else -%>
      <td><%= property[:example] %></td>
      <%- end -%>
      <td>
        <div>
        <%- if property[:required] -%>
          <strong><%=h t('shape-table.required') %></strong>
        <%- else -%>
        <%=h t('shape-table.optional') %>
        <%- end -%>
        </div>
        <div>
        <%- if property[:repeatable] -%>
        <%=h t('shape-table.repeatable') %>
        <%- else -%>
        <%=h t('shape-table.non-repeatable') %>
        <%- end -%>
        </div>
      </td>
      <td><%= property[:description] %></td>
    </tr>
    <%- if property[:nodeKind] == "http://www.w3.org/ns/shacl#BlankNode" -%>
    <tr>
      <td colspan="4">
        <%- if property[:node_mode] == :or -%>
        <%=h t("shape-table.blank-node-or-structure") %>
        <%- property[:nodes].each do |e| -%>
          <div class="blank_node"><%= e.sub(/class="table"/, 'class="table table-condensed"') %></div>
        <%- end -%>
        <%- else -%>
        <%=h t("shape-table.blank-node-structure") %>
        <div class="blank_node"><%= property[:nodes].sub(/class="table"/, 'class="table table-condensed"') %></div>
        <%- end -%>
      </td>
    </tr>
    <%- end -%>
  <%- end -%>
  </tbody>
  <%- if param[:prefix] and not param[:prefix].empty? -%>
  <tfoot>
    <tr><td colspan="5">
    <%=h t('about.shape-namespace') %>
      <dl class="row small">
      <%- param[:prefix].each do |prefix, url| -%>
      <dt class="col-sm-2"><code><%=h prefix %>:</code></dt>
      <dd class="col-sm-10"><%=h url %></dd>
      <%- end -%>
      </dl>
    </td></tr>
  </tfoot>
  <%- end -%>
</table>